// Core (Main Style)

body {
  font-size: 120%;
}

.section {
    margin: 3em 0;
}

h1 {
    font-size: 150px;
    line-height: 1em;
    margin: 0;
}

.rule {
    font-size: 110%;
    font-weight: bold;
}